@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,171,148,0.9808298319327731) 100%);
overflow-x: hidden;

}

.container img {
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(1px);
}

.container {
    display: none;
    width: 100%;
    position: relative;

}
@media (max-width:768px) {
    .container5{
        display: none;
    }
    .container{
        display: block;
    }
}



.button1 {
    position: relative;
    top: -150px;
    left: 100px;
    background-color: white;
    border: 2px solid white;
}

.button2 {
    position: relative;
    top: -150px;
    left: 100px;
    background-color: red;
    border: 2px solid white;
}


.bannertext {
    position: absolute;
    top: 10px;
    color: white;
    padding: 50px;
}

.bannertext h1 {
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-style: normal;
}
.container5 {
    width: 100%;
    position: relative;

}



.button4 {
    position: relative;
    top: -150px;
    left: 100px;
    background-color: white;
    border: 2px solid white;
}

.button3 {
    position: relative;
    top: -150px;
    left: 100px;
    background-color: red;
    border: 2px solid white;
}


.bannertext5 {
    position: absolute;
    top: 10px;
    color: white;
    padding: 50px;
}

.bannertext5 h3 {
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-style: normal;
}

.content h2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    
}

.para p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}

.content h2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    color: red;
}


.para1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;

}

.slide-container {
    max-width: 1500px;
    width: 100%;
    padding: 40px 0px;
}

.slide-content {
    margin: 0 60px;
}

.image-content,
.card-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    position: relative;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    padding: px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.name {

    left: 690px;
    position: absolute;
    top: -130px;
    font-size: 18px;
}

.name span {
    color: red;
}

.description {
    font-size: 15px;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: black;
    padding: 8px 16px;
    background-color: gray;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}



.slider-container {
    width: 60%;
    margin: auto;
    text-align: center;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.prev,
.next {
    position: absolute;
    top: 60%;

    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    line-height: 1;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: -5px;
}

.next {
    right: -5px;
}
@media (max-width: 480px) {
    .slide-content {
        width: 90%;
    }

    .image-content {
        height: 100%;
    }

    .name {
        font-size: 10px;
    }

    .description {
        font-size: px;
    }

    .button {
        padding: 6px 12px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    margin-left: 100px;
}

.gallery img {
    width: 120%;
    cursor: pointer;
}



.container3 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;


}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.gallery img {

    width: 100%;
}

.box img {
    width: 100px;

}

@media (max-width: 768px) {
    .bannertext h1 {
        font-size: 1.5em;
    }

    .card {
        max-width: 50%;


    }

    .gallery {

        flex-direction: column;
        align-items: center;
    }

    .gallery a {
        width: 100%;
        margin-bottom: 10px;
    }

    .gallery img {
        display: none;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .bannertext h1 {
        font-size: 1.2em;
    }

    .button1,
    .button2,
    .button {
        padding: 16px 16px;
    }

    .card {
        max-width: 100%;
    }

    .gallery a {
        width: 100%;
    }

    .gallery img {
        
        width: 100%;
    }
}





@media only screen and (max-width: 600px) {
    button.prev, button.next {
        font-size: 11px;
    }
}


.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.slide {
  display: none;
}


.prev1, .next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev1:hover, .next1:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

  .slider2{
    
    max-width: 500px;
    height: 400px;
    position: relative;
    user-select: none;
    
  }
  .silder img{
    width:;
    height: 20%;

  }
  .slider2-item{
    display:none ;
  }

  .active{
    display: block;
    animation: fadeAnimation 1s;
  }
  .slider2{
    width: 100wh;
    height: 100vh;
    position: relative;
    left: 500px;
    margin-bottom: 600px;
  }
  .slider2-btns{
    
   /*position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    visibility: hidden;*/
    position: absolute;
    top:150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    visibility: hidden;

    
    
  }

  .slider2-btns button{
    font-size: 30px;
    font-weight: 400;
    background-color: whitesmoke;
    border: none;
    color: black;
    line-height: 30px;
    cursor:pointer ;
  }
  .slider2:hover .slider2-btns{
    visibility: visible;

  }

  @keyframes fadeAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transition: opacity linear;
    }
  }


.dots{
    background-color: brown;
    width: 100%;
    height: 10px;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:hsla(71, 90%, 40%, 0.981);
    cursor:pointer;

}
.dot-active{
    background-color:white;
}
.dots {
    text-align: center;
    margin-top: 10px;
}
.slider2-item img {
    max-width: 100%; 
    height: auto;
}

